@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


.footer-section{
    background-color:#2C0C56;
    color: white;
    font-family: "Work Sans", sans-serif;
    padding: 4rem 5% 4rem 5%;
}

.footer-content{
    display: flex;
 /*    gap: 20%; */
 justify-content: space-between;
 align-items: center;


}

.footer-content .left{
    flex: 0 0 35%;
    align-self: center;
}

.footer-section .left p{
    font-size: 14px;
    font-weight: 400;
}

.footer-content .links{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-self: center;

}

.footer-content .socials{
    white-space: nowrap;
    display: flex;
    align-self: center;
    gap: 1rem;
    padding-right: 5rem
}


hr{
    margin-top: 2rem;
}

.footer-section footer{
    padding-top: 1rem;
}



