@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*NORMAL STYLING*/
.header {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  max-width: 100vw;
  overflow-x: hidden;
  max-height: 80vh;
}

.header .iphone-pic {
  width: 60%;
  height: auto;
  max-width: 1500px;
  margin-right: -3%;
}

.left {
  flex: 1 1 45%;
}

.left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 100px;
  margin-top: 10%;
}

.left h1 span {
  color: #4c2a7f;
}

.left p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 60px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}


/* .join-btn{
  padding: 40px 100px;
  background-color: #4c2a7f;
  color: white;
  border-radius: 20px;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;

} */






/*LAPTOP 1440PX AND BELOW - MEDIUM LAPTOP AND BELOW - 2000PX */

@media (max-width: 2700px) {
  .header {
    margin-top: 5rem;
  }
  .left {
    width: 50%;
  }
  .header h1 {
    font-size: 60px;
    margin-top: 5rem;

  }

  .header p {
    font-size: 40px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

   /* .join-btn {
    font-size: 15.59px;
    padding: 15.59px 77.93px;
    border-radius: 10px;
  }  */



}


/*SMALL LAPTOP -1240px*/
@media (max-width: 1690px) {
  .header p {
    font-size: 25px;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
  }
  .header h1 {
    font-size: 48px;
    margin-top: 4rem;
  }

  .header{
    margin-top: 5rem;
  }


}


/*TABLET*/
@media(max-width: 1200px){
    .header{
        margin-left: 1px;
        padding-left: 27px;
        margin-top: 3rem;
    }

    .header h1{
        font-size: 36px;
        margin-top: 4rem;
    }
  
    .header p{
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .header .iphone-pic{
        width:60%;
        height: 500px;
        margin-right: -5%
    }

}

/*SMALL DEVICES*/
@media(max-width: 700px){
   /*  .header{
        margin: 0;
        margin-top: -3rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        
    }
    .header .iphone-pic{
        display: block;
        width: 200px;
        height: 200px;
        align-self: center;
        margin: auto;
        margin-top: 2rem;  
    }
    .left{
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
       width: 100%;
    }
    .header h1{
        text-align: center;
        font-size: 28px;
        width: 350px
    }
    .header p{
        text-align: center;
        padding:2rem;
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-size: 20px;
        width: 400px
    } */
     .header {
    margin: 0;
    padding: 2rem 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .left {
    width: 100%;
    margin-top: 1rem;
    align-items: center;
  }

  .header h1 {
    font-size: 32px;         
    width: 100%;              
    max-width: 500px;        
    line-height: 1.25;
  }

  .header p {
    font-size: 18px;          
    width: 100%;
    max-width: 500px;        
    padding: 0 1rem;
    line-height: 1.5;
  }

  .header .iphone-pic {
    width: 220px;
    height: auto;
    margin-top: 2rem;
    align-self: center;
  }
}
