@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.header{
    display:flex;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-right: 50rem;
    justify-content: space-between;

}

.header img{
    margin-left:360px
} 

.left{
    flex:none;
    width: 70%;
}
.left h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
}

.left h1 span{
    color: #4c2a7f;;
}

.left p{
    font-family: "Work Sans", sans-serif;
    font-weight: 300;
    font-size: 30px;
    margin-top: 3rem;
    margin-bottom: 3rem;

}

.join-btn {
  padding: 15.59px 77.93px;
  background-color: #4c2a7f;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15.59px;
  font-style: bold;
}

@media(max-width:1400px){
    .header img{
        margin-left: -18px
    }

    .left{
        width:550px;
    }

    
}