@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.header {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  max-width: 100vw;
  overflow-x: hidden;
/*   height: 80vh; */
}

.header img {
  width: 60%;
  height: auto;
  max-width: 1500px;
  margin-right: -2%;
}

.left {
  flex: 1 1 45%;
}

.left h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 100px;
  margin-top: 10%;
}

.left h1 span {
  color: #4c2a7f;
}

.left p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 60px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* 
.left p {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 3rem;
  margin-bottom: 3rem;
} */

.join-btn {
  padding: 40px 100px;
  background-color: #4c2a7f;
  color: white;
  border-radius: 20px;
  font-weight: 700;
  font-size: 40px;
  font-style: bold;
}

/* .join-btn {
  padding: 15.59px 77.93px;
  background-color: #4c2a7f;
  color: white;
  border-radius: 10px;
  font-weight: 700;
  font-size: 15.59px;
  font-style: bold;
} */

@media (max-width: 2700px) {
  .header {
    margin-top: 5rem;
  }
  .left {
    width: 50%;
  }
  .header h1 {
    font-size: 60px;
    margin-top: 5rem;

  }

  .header p {
    font-size: 40px;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .join-btn {
    font-size: 15.59px;
    padding: 15.59px 77.93px;
    border-radius: 10px;
  }
}


@media (max-width: 1690px) {
  .header p {
    font-size: 25px;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
  }
  .header h1 {
    font-size: 48px;
    margin-top: 4rem;
  }

  .header{
    margin-top: 5rem;
  }
}

@media(max-width: 1200px){
    .header{
        margin-left: 1px;
        padding-left: 27px;
        margin-top: 3rem;
    }

    .header h1{
        font-size: 36px;
        margin-top: 4rem;
    }
  
    .header p{
        font-size: 20px;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .header img{
        width:60%;
        height: 500px
    }
    
}

@media(max-width: 700px){
    .header{
   
        margin: 0;
        padding: 2rem;
    }
    .header img{
        display: none;
    }
    .left{
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header h1{
        text-align: center;
        
    }
    .header p{
        text-align: center;
        padding:2rem
    }
}
