.launch-section {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 0 1.25rem;
  font-family: "Work Sans", sans-serif;
  display: flex;
  justify-content: space-between;
}

.launch-text {
  text-align: center;
  margin-top:2rem;
}
.launch-text h1 {
  padding: 1rem;
}
.launch-text p {
  padding: 1rem;
}
.launch-button {
  background: #6C2BD9;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.launch-button:hover {
  background: #5a1db5;
}

.launch-image {
  text-align: center;
  margin-top: 2rem;
}

.launch-image img {
  max-width: 100%;
  height: auto;
}