@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.reviews-section {
  font-family: "Work Sans", sans-serif;
  background-image: url("../assets/Target audience bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.reviews-heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  color: white;
}

.reviews-heading h1 {
  font-size: 40px;
  font-weight: 600;
}

.reviews-heading span {
  font-weight: 500;
}

.reviews-heading p {
  font-weight: 300;
  font-size: 24px;
}

.reviews-carousel-wrapper {
  position: relative;
}

.reviews-cards {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding-bottom: 1rem;
}

.reviews-cards::-webkit-scrollbar {
  height: 6px;
}

.reviews-cards::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
  display: none;
}

.card {
  flex: 0 0 388px;
  background-color: white;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.reviewer-heading {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.name-stars .name {
  font-size: 15px;
  margin-bottom: 2px;
}

.scroll-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 1.5rem;
  padding: 0.5rem 0.6rem;
  cursor: pointer;
  z-index: 10;
  border-radius: 8px;
  width: 50px

}

.scroll-btn.left {
  left: -60px;
}

.scroll-btn.right {
  right: -60px;
}

/* Responsive */
@media (max-width: 1024px) {
  .reviews-cards {
    gap: 1rem;
  }
  .card {
    flex: 0 0 300px;
  }
}

@media (max-width: 600px) {
  .reviews-cards {
    gap: 1rem;
  }
  .card {
    flex: 0 0 260px;
  }
  .scroll-btn {
    display: none; /* swipe is enough for mobile */
  }
}
