@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.target-section {
  font-family: "Work Sans", sans-serif;
  background-image: url("../assets//Target\ audience\ bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  gap: 3rem;
}

.target-section h1 {
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  max-width: 600px;
  width: 100%;
}

span {
  font-weight: 700;
}

.target-section-heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.target-section p {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18rem;
}

.single-card {
  width: 386px;
  height: 274px;
  border-radius: 20px;
  gap: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.single-card img {
  width: 90px;
  height: 90px;
  margin-top: -2rem;
}

.single-card p:first-of-type {
  color: #431b73;
  font-weight: 500;
  font-size: 24px;
}

.single-card p {
  color: black;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}



@media (max-width: 1600px) {
  .cards {
    gap: 4rem;
  }
}

@media (max-width: 1310px) {
  .single-card {
    width: 290px;
    height: 300px;
    padding-bottom: 2rem;
  }
  .single-card img {
    width: 70px;
    height: 70px;
    margin-top: 1rem;
  }
}

@media (max-width: 1000px) {
  .single-card {
    height: 300px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .target-section {
    padding: 4rem 2rem;
  }
  .target-section h1 {
    font-size: 28px;
  }


.single-card p:first-of-type {
  color: #431b73;
  font-weight: 500;
  font-size: 24px;
}

  .target-section p{
   font-size: 18px;
    line-height: 1.5;
  }
}
